
<h1 align=center style="line-height:300%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
سری دوم تمارین عملی درس داده کاوی
</font>
</h1>
<h3 align=center style="line-height:100%;font-family:vazir;color:#0099cc">
استاد درس: دکتر مریم امیر مزلقانی
</h3>
<h5 align=center style="font-size: 20px;line-height:100%;font-family:vazir;color:#0099cc">
طراح تمرین عملی: محمد چوپان  
    </h5>
<p align=center style="font-size: 16;line-height:100%;font-family:vazir;color:#0099cc">
    <a href="mailto:Aut.DataMining.Fall@gmail.com">Aut.DataMining.Fall@gmail.com</a>
</p>

<div dir="ltr">
<p style="font-size: 16;line-height:100%;font-family:vazir;color:red;dir:rtl">
لطفا خواسته های تمرین را در بخش خودش انجام دهید.
دقت کنید نتایج مقایسه ها حتما باید در پاسخ شما وجود داشته باشد.
</p>
</div>

# HW2

## Imports

In [41]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

## Load data

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این مرحله همانند تمرین قبلی داده ها را درون یک دیتا فریم pandas ذخیره میکنید
</font>
</p>
</div>

In [42]:
df = pd.read_excel('worldcities.xlsx')
print(df.shape)
df.head()

(44667, 11)

,ville,ville_ascii,lat,lng,pays,iso2,iso3,admin_nom,capital,population,id
0,A Coruña,A Coruna,43.3667,-8.3833,Spain,ES,ESP,Galicia,minor,245468.0,1.724417e+09
1,A Yun Pa,A Yun Pa,13.3939,108.4408,Vietnam,VN,VNM,Gia Lai,minor,53720.0,1.704946e+09
2,Aabenraa,Aabenraa,55.0444,9.4181,Denmark,DK,DNK,Syddanmark,minor,16401.0,1.208000e+09
3,Aachen,Aachen,50.7756,6.0836,Germany,DE,DEU,North Rhine-Westphalia,minor,249070.0,1.276806e+09
4,Aadorf,Aadorf,47.4939,8.8975,Switzerland,CH,CHE,Thurgau,NaN,9036.0,1.756023e+09

 ## Add column

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این مرحله با توجه به ستون جمعیت یک ستون جدید تحت عنوان Population Level   اضافه کنید به طوری که به 4 دسته زیر  بر اساس وضعیت هر داده اختصاص داده می شودند.
</br>
    <div dir="ltr">
Low: 0-25%
    </br>
Mid: 25-50%
    </br>
High: 50-70%
    </br>
Over: 70-100%
    </div>
</font>
</p>
</div>

In [43]:
bins = [0, df['population'].quantile(0.25), df['population'].quantile(0.5), df['population'].quantile(0.75), df['population'].quantile(1)]
labels = ['Low', 'Mid', 'High', 'Over']
df['population_level'] = pd.cut(df['population'], bins=bins, labels=labels, include_lowest=True)
df.head()

,ville,ville_ascii,lat,lng,pays,iso2,iso3,admin_nom,capital,population,id,population_level
0,A Coruña,A Coruna,43.3667,-8.3833,Spain,ES,ESP,Galicia,minor,245468.0,1.724417e+09,Over
1,A Yun Pa,A Yun Pa,13.3939,108.4408,Vietnam,VN,VNM,Gia Lai,minor,53720.0,1.704946e+09,Over
2,Aabenraa,Aabenraa,55.0444,9.4181,Denmark,DK,DNK,Syddanmark,minor,16401.0,1.208000e+09,Mid
3,Aachen,Aachen,50.7756,6.0836,Germany,DE,DEU,North Rhine-Westphalia,minor,249070.0,1.276806e+09,Over
4,Aadorf,Aadorf,47.4939,8.8975,Switzerland,CH,CHE,Thurgau,NaN,9036.0,1.756023e+09,Low

## Preprocess

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    در این بخش باید ستون های خالی داده ها راحذف کرده و در نهایت تمامی ستون ها را به داده های عددی تبدیل کنید به جز ستون اضافه شده
</font>
</p>
</div>

In [44]:
df = df.dropna()
label_encoder = LabelEncoder()
categorical_columns = ['ville', 'ville_ascii', 'pays', 'iso2', 'iso3', 'admin_nom', 'capital']
for col in categorical_columns:
    df[col] = label_encoder.fit_transform(df[col])
df.head()

,ville,ville_ascii,lat,lng,pays,iso2,iso3,admin_nom,capital,population,id,population_level
0,0,0,43.3667,-8.3833,163,54,54,936,1,245468.0,1.724417e+09,Over
1,1,1,13.3939,108.4408,193,189,189,966,1,53720.0,1.704946e+09,Over
2,2,2,55.0444,9.4181,47,46,48,2866,1,16401.0,1.208000e+09,Mid
3,3,3,50.7756,6.0836,66,44,45,2109,1,249070.0,1.276806e+09,Over
5,4,4,57.0500,9.9167,47,46,48,2096,0,143598.0,1.208789e+09,Over

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
 حال باید داده های به دست آمده از قسمت قبلی را نرمال سازی کنید.
</font>
</p>
</div>

In [45]:
normalize = [col for col in df.columns if col != 'population_level']
scaler = MinMaxScaler()
df[normalize] = scaler.fit_transform(df[normalize])
df.head()

,ville,ville_ascii,lat,lng,pays,iso2,iso3,admin_nom,capital,population,id,population_level
0,0.000000,0.000000,0.782664,0.472727,0.831633,0.275510,0.275510,0.270677,0.5,0.006506,0.802269,Over
1,0.000096,0.000097,0.544021,0.801105,0.984694,0.964286,0.964286,0.279352,0.5,0.001424,0.780585,Over
2,0.000193,0.000193,0.875642,0.522764,0.239796,0.234694,0.244898,0.828803,0.5,0.000435,0.227175,Mid
3,0.000289,0.000290,0.841653,0.513391,0.336735,0.224490,0.229592,0.609890,0.5,0.006601,0.303799,Over
5,0.000386,0.000386,0.891610,0.524166,0.239796,0.234694,0.244898,0.606131,0.0,0.003806,0.228054,Over

## Split

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
داده ها را به دو بخش تست و آموزش با نسبت 80 به 20 تقسیم کنید.
</font>
</p>
</div>

In [46]:
target = df["population"]
features = df.drop(["population", "population_level"], axis=1)  
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)
print(x_train.shape)
print(x_test.shape)

(8590, 10)
(2148, 10)

## Regression

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
برای این قسمت باید ستون Population  را به عنوان برچسب درنظر گرفته و از بقیه ستون هابه عنوان فیچر استفاده کنید
</font
</p>
</div>

<div dir="rtl">
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
باید از رگرسیون خطی
،درجه 1 و درجه 2 استفاده کرده و در هر مورد دقت و خطای میانگین مربعات را بدست آورده و نتایج را باهم مقایسه کنید.</font
</p>
    
</div>

In [47]:
linear_regression = LinearRegression()
linear_regression.fit(x_train, y_train)
y_pred_train = linear_regression.predict(x_train)
y_pred_test = linear_regression.predict(x_test)
mse_train = mean_squared_error(y_train, y_pred_train)
mse_test = mean_squared_error(y_test, y_pred_test)
polynomial_features = PolynomialFeatures(degree=2)
x_polynomial_train = polynomial_features.fit_transform(x_train)
x_polynomial_test = polynomial_features.fit_transform(x_test)
linear_regression_2 = LinearRegression()
linear_regression_2.fit(x_polynomial_train,y_train)
y_pred_2_train = linear_regression_2.predict(x_polynomial_train)
y_pred_2_test = linear_regression_2.predict(x_polynomial_test)
mse_2_train = mean_squared_error(y_train, y_pred_2_train)
mse_2_test = mean_squared_error(y_test, y_pred_2_test)
print(f"Mean Squared Error for Test Linear: {mse_test}")
print(f"Mean Squared Error for Train Linear: {mse_train}")
print()
print(f"Mean Squared Error for Test 2 Degree: {mse_2_test}")
print(f"Mean Squared Error for Train 2 Degree: {mse_2_train}")

Mean Squared Error for Test Linear: 0.0019668248958161685
Mean Squared Error for Train Linear: 0.0010452179229911024

Mean Squared Error for Test 2 Degree: 0.0017402269372090795
Mean Squared Error for Train 2 Degree: 0.0008990815052160049

## Classification

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
برای این قسمت باید ستون Population Level  را به عنوان برچسب درنظر گرفته و از بقیه ستون هابه عنوان فیچر استفاده کنید
همچنین ستون Population را نیز حذف کنید
    </font>
</p>
</div>

<div dir="rtl">
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
در هر فسمت باید الگوریتم مشخص شده را پیاده سازی کرده و درنهایت نتیجه را با بقیه قسمت ها مقایسه کنید.
    
</p>
    
</div>

### Decision Tree (Entropy)

In [48]:
features = df.drop(["population", "population_level"], axis=1)
target = df["population_level"]
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)
dt_classifier = DecisionTreeClassifier(criterion='entropy', max_depth=5, min_samples_leaf=5, random_state=42)
dt_classifier.fit(x_train, y_train)
y_pred_train = dt_classifier.predict(x_train)
y_pred_test = dt_classifier.predict(x_test)
accuracy_train = accuracy_score(y_train, y_pred_train)
accuracy_test = accuracy_score(y_test, y_pred_test)
print(f"Accuracy for Decision Tree Train (Entropy): {accuracy_train}")
print(f"Accuracy for Decision Tree Test (Entropy): {accuracy_test}")

Accuracy for Decision Tree Train (Entropy): 0.4771827706635623
Accuracy for Decision Tree Test (Entropy): 0.4729981378026071

### Random Forest (Entropy)

In [49]:
rf_classifier = RandomForestClassifier(n_estimators=1000, max_leaf_nodes=400, n_jobs=-1, criterion='entropy')
rf_classifier.fit(x_train, y_train)
y_pred_train = rf_classifier.predict(x_train)
y_pred_test = rf_classifier.predict(x_test)
accuracy_train = accuracy_score(y_train, y_pred_train)
accuracy_test = accuracy_score(y_test, y_pred_test)
print(f"Accuracy for Random Forest Train (Entropy): {accuracy_train}")
print(f"Accuracy for Random Forest Test (Entropy): {accuracy_test}")

Accuracy for Random Forest Train (Entropy): 0.7508731082654249
Accuracy for Random Forest Test (Entropy): 0.5456238361266295

### KNN K=2

In [50]:
knn_classifier = KNeighborsClassifier(n_neighbors=2)
knn_classifier.fit(x_train, y_train)
y_pred_train = knn_classifier.predict(x_train)
y_pred_test = knn_classifier.predict(x_test)
accuracy_train = accuracy_score(y_train, y_pred_train)
accuracy_test = accuracy_score(y_test, y_pred_test)
print(f"Accuracy for KNN (K=2) Train: {accuracy_train}")
print(f"Accuracy for KNN (K=2) Test: {accuracy_test}")

Accuracy for KNN (K=2) Train: 0.7231664726426077
Accuracy for KNN (K=2) Test: 0.44320297951582865

### KNN K=3

In [51]:
knn_classifier = KNeighborsClassifier(n_neighbors=3)
knn_classifier.fit(x_train, y_train)
y_pred_train = knn_classifier.predict(x_train)
y_pred_test = knn_classifier.predict(x_test)
accuracy_train = accuracy_score(y_train, y_pred_train)
accuracy_test = accuracy_score(y_test, y_pred_test)
print(f"Accuracy for KNN (K=3) Train: {accuracy_train}")
print(f"Accuracy for KNN (K=3) Test: {accuracy_test}")

Accuracy for KNN (K=3) Train: 0.6798603026775321
Accuracy for KNN (K=3) Test: 0.48789571694599626

### KNN K=5

In [52]:
knn_classifier = KNeighborsClassifier(n_neighbors=5)
knn_classifier.fit(x_train, y_train)
y_pred_train = knn_classifier.predict(x_train)
y_pred_test = knn_classifier.predict(x_test)
accuracy_train = accuracy_score(y_train, y_pred_train)
accuracy_test = accuracy_score(y_test, y_pred_test)
print(f"Accuracy for KNN (K=5) Train: {accuracy_train}")
print(f"Accuracy for KNN (K=5) Test: {accuracy_test}")

Accuracy for KNN (K=5) Train: 0.6315483119906868
Accuracy for KNN (K=5) Test: 0.49813780260707635

### SVM (Linear)

In [53]:
svm_classifier = SVC(kernel='linear')
svm_classifier.fit(x_train, y_train)
y_pred_train = svm_classifier.predict(x_train)
y_pred_test = svm_classifier.predict(x_test)
accuracy_train = accuracy_score(y_train, y_pred_train)
accuracy_test = accuracy_score(y_test, y_pred_test)
print(f"Accuracy for SVM Linear Train: {accuracy_train}")
print(f"Accuracy for SVM Linear Test: {accuracy_test}")

Accuracy for SVM Linear Train: 0.4174621653084983
Accuracy for SVM Linear Test: 0.4334264432029795

### SVM (Non-linear)

In [54]:
svm_classifier = SVC(kernel='rbf')
svm_classifier.fit(x_train, y_train)
y_pred_train = svm_classifier.predict(x_train)
y_pred_test = svm_classifier.predict(x_test)
accuracy_train = accuracy_score(y_train, y_pred_train)
accuracy_test = accuracy_score(y_test, y_pred_test)
print(f"Accuracy for SVM RBF Train: {accuracy_train}")
print(f"Accuracy for SVM RBF Test: {accuracy_test}")

Accuracy for SVM RBF Train: 0.48381839348079164
Accuracy for SVM RBF Test: 0.4823091247672253